<nav>
    <h2>To Do List</h2>
    <ul>
        <li><a href = "/">Users</a></li>
        <li><a href = "/todolist">To Do list</a></li>
        <li><a href = "/remove">Remove item</a></li>
        <li><a href = "/update">Update item</a></li>
    </ul>
</nav>